@model WeatherApp.Models.WeatherModel
<h2>Weather App	</h2>
<form method="post">	
	<input type="text" name="city" placeholder="Enter City name" />
	<button type="Submit">Search</button>
</form>
@if (Model.Error != null)
{
	<p style="color:red">@Model.Error</p>
}
@if (Model.City != null)
{
	<h3>@Model.City</h3>
	<p>Temperature: @Model.TempC °C / @Model.TempF °F</p>
}